<% include ./partials/header.ejs %>

    <div class="ui main text container segment">
        <div class="ui huge header">
            <%= blog.title; %>
        </div>
        <div>
            <image class="ui centered bordered rounded medium image" src='<%= blog.image; %>'>
        </div>
        <div class="ui content">
            <!-- the minus sign used after the percent sign allows html to be processed but also must be sanitized -->
            <%- blog.message; %>
        </div>
        <div class="ui items">
            <a class="ui basic tiny blue button" href="/blog-entries">Return</a>
            <a class="ui basic tiny green button" href="/blog-entries/<%= blog._id %>/edit">Edit</a>
            <a class="ui basic tiny orange button" href="#">Soft delete</a>
            <form id="delete-form" action="/blog-entries/<%=blog._id%>?_method=DELETE" method="POST">
                <button class="ui basic tiny red button">Hard Delete</button>
            </form>
        </div>
    </div>
    <% include ./partials/footer.ejs %>